<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

<div class="row g-3">
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

<label for="" class="form-label">albumId</label>
<input name="albumId" [(ngModel)]="albumId"  type="text" class="form-control">


    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

        <label for="" class="form-label">Id</label>
        <input name="Id" [(ngModel)]=" Id"  type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">


        <label for="" class="form-label">title</label>
        <input name="title" [(ngModel)]="title"  type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

        <label for="" class="form-label">thumbnailUrl</label>
        <input name="thumbnailUrl" [(ngModel)]="thumbnailUrl"   type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">


<button (click)="read()" class="btn btn-danger">SEARCH</button>

    </div>
</div>

        </div>
    </div>
</div>